{% extends "base.html" %}

{% block content %}
  <div class="row my-3">

    {% for event in events %}
      <div class="col-12 col-sm-6 col-md-4">
        <div class="card my-3">
          <div class="card-body text-center">
            {% if event.pic %}
              <img src="{{event.pic.url}}" class="card-img-top events_pic my-3" alt="{{restaurant.logo}} logo">
            {% endif %}
            <hr>
            <h5 class="card-title">{{event.title}}</h5>
            <div class="row">
              <div class="col-6 text-left">
              <p class="card-text"><i class="far fa-calendar-alt flat_gray">&nbsp</i> {{event.datetime|date:"d M Y"}}</p>
              <p class="card-text"><i class="far fa-clock flat_gray">&nbsp</i> {{event.datetime|date:"D | h:i A"}}</p>
            </div>
            <div class="col-6 text-left">
              <p class="card-text"><i class="fas fa-map-marker-alt flat_gray">&nbsp</i> {{event.location}}</p>
              <small class="pink_color"><i class="fas fa-user-tie flat_gray">&nbsp</i> Organizer: {{event.organizer.username}}</small>
            </div>
            </div>




            <hr>
            <p class="card-text">Tickets left: &nbsp<span class="badge badge-warning">{{event.seats}}</span></p>
            <a href="{% url 'event-detail' event.id %}" class="btn btn-outline-secondary mx-3">Detail</a>
          </div>
        </div>
      </div>
    {% endfor %}

  </div>

  <br><br>

{% endblock content %}
