.pink_color {
  color: #C0043E;
}

a:hover { 
  color: #C0043E;
  text-decoration: none;
}

a:active {
  color: #C0043E;
  text-decoration: none;
}

.flat_gray {
	color: #DEDBD0;
}

.bg-black {
	background-color: #7A1234!important;
}

.events_pic {
	width: 200px;
	height: 200px;
}