{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<header class="masthead text-center text-white">
  <div class="masthead-content">
    <div class="container">
        <div class="jumbotron">
          <h2 class="masthead-subheading mb-0">Sign Up</h2>
          <form action="{% url 'signup' %}" method="POST">
            {% csrf_token %}
            {{form|crispy}}
            <input class = "btn btn-primary btn-xl rounded-pill mt-5" type="submit" value="Sign Up">
          </form>
      </div>
    </div>
  </div>
  <div class="bg-circle-1 bg-circle"></div>
  <div class="bg-circle-2 bg-circle"></div>
  <div class="bg-circle-3 bg-circle"></div>
  <div class="bg-circle-4 bg-circle"></div>
</header>
{% endblock %}