{% extends "base.html" %}
{% load static %}
{% block content %}

  <div class="row my-3">
    <div class="col-12">
      <div class="card mb-12">
        <div class="row no-gutters">
          <div class="col-md-3 my-3 mx-3">
            <img src="{% static 'img/jon.png' %}" class="card-img">
          </div>
          <div class="col-md-8 mx-3 my-3">
            <div class="card-body">
              <div class="row">
                <div class="col-12 text-center">
                  <h1 class="card-title mx-4">{{ user_obj.first_name }}  {{ user_obj.last_name }}</h1>
                </div>

              </div>
              <br>
              <div class="row text-center">
                <div class="col-3">
                  <p class="card-text">Events</p>
                  <p class="card-text"><small class="text-muted">{{events.count}}</small></p>
                </div>
                <div class="col-3">
                  <p class="card-text">Followers</p>
                  <p class="card-text"><small class="text-muted">5</small></p>
                </div>
                <div class="col-3">
                  <p class="card-text">Following</p>
                  <p class="card-text"><small class="text-muted">5</small></p>
                </div>
                <div class="col-3">
                  {% if request.user == user_obj %}
                    <a href="{% url 'edit-profile' %}" class="btn btn-outline-secondary">Edit Profile</a>
                  {% else %}
                    <button id="profile-{{user_obj.id}}" class="btn btn-primary" onclick="follow({{user_obj.id}})">Follow</button>
                  {% endif %}
                </div>


                <div class="row">
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row my-3">

    {% for event in events %}
      <div class="col-12 col-sm-6 col-md-4">
        <div class="card my-3">
          <div class="card-body text-center">
            {% if event.pic %}
              <img src="{{event.pic.url}}" class="card-img-top events_pic my-3" alt="{{restaurant.logo}} logo">
            {% endif %}
            <hr>
            <h5 class="card-title">{{event.title}}</h5>
            <div class="row">
              <div class="col-6 text-left">
              <p class="card-text"><i class="far fa-calendar-alt flat_gray">&nbsp</i> {{event.datetime|date:"d M Y"}}</p>
              <p class="card-text"><i class="far fa-clock flat_gray">&nbsp</i> {{event.datetime|date:"D | h:i A"}}</p>
            </div>
            <div class="col-6 text-left">
              <p class="card-text"><i class="fas fa-map-marker-alt flat_gray">&nbsp</i> {{event.location}}</p>
              <small class="pink_color"><i class="fas fa-user-tie flat_gray">&nbsp</i> Organizer: <a href="{% url 'user-profile' event.organizer.id %}" class="pink_color">{{event.organizer.username}}</a></small>
            </div>
            </div>




            <hr>
            <p class="card-text">Seats: &nbsp<span class="badge badge-warning">{{event.seats}}</span></p>
            <a href="{% url 'event-detail' event.id %}" class="btn btn-outline-secondary mx-3">Detail</a>
          </div>
        </div>
      </div>
    {% endfor %}

  </div>

  <br><br>


  <script>
    function follow(user_id){
      $ajax({

        type: "GET",
        url: "/follow/"+user_id+"/",
        success: function(data){
          console.log(data)
        },
        error: function(){
          console.log("Stop bro!")
        },

      })
    }      
  </script>

{% endblock content %}
